.city-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 5px;
}
.info {
  color: #ffffff;
}
.city-info {
  background-image: url(../6241bbb49bca83a01a35a45f9e8d8ef9.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 8px;
  width: 325px;
  margin: 10px;
}
.city-day {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: -30px -30px -30px 0;
}
.degree {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: -20px;
}
.container {
  background: #16161f;
  border-radius: 8px;
  width: 365px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 750px) {
  .container {
    width: 740px;
  }
}
